.loading {
	background: url('../img/loading.gif') no-repeat center center;
	width: 24px;
	height: 24px;
}

#mapRow {
	padding-bottom: 40px;
}

.main {
	display:hidden;
}

.italic {
	font-style:italic;
}

#loading_container {
	position: absolute;
	margin-left:50%;
	margin-top:200px;
}
